<component name="ArtifactManager">
  <artifact type="war" name="springsecuritytest:war">
    <output-path>$PROJECT_DIR$/springsecuritytest/target</output-path>
    <root id="archive" name="springsecuritytest-0.0.5-SNAPSHOT.war">
      <element id="artifact" artifact-name="springsecuritytest:war exploded" />
    </root>
  </artifact>
</component>